@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            Meklēšana pēc virsraksta:
            <input/><input value="Meklēt" type="submit" /><br/>
            Meklēšana ar reaģentu sarakstu:
            @Html.Partial("_ReagentListControl",  new List<Chem.Models.Reagent>())
            <input value="Meklēt" type="submit" />
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>VIDEO 1</h5>
        Pats video
    </li>

    <li class="one">
        <h5>VIDEO 2</h5>
        Pats video
    </li>

    <li class="one">
        <h5>VIDEO 3</h5>
        Pats video
    </li>
</ol>
