@using Chem.Models;

@{

    ViewBag.Title = "Home Page";
    List<Movie> movies = (List<Movie>)ViewBag.Movies;
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <form method="get" target="_self">
                Meklēšana pēc virsraksta:
                <input name="title" /> <input value="Meklēt" type="submit" />
            </form><br />
            <form method="get" target="_self">
                Meklēšana ar reaģentu sarakstu:
                @Html.Partial("_ReagentListControl", new List<Chem.Models.Reagent>())
                <input value="Meklēt" type="submit" />
            </form>
        </div>
    </section>
}

@{
    string s = ViewBag.Query;
    if (s != "")
    {
        <text><h2>Tika meklēts: </h2></text>
        <h2>@s</h2>
    }
    else
    {
        <h3>Jaunākie video:</h3>
    }
}

@if (movies.Count() > 0)
{
    
    <ol class="round">
        @foreach (Movie m in movies) { 
        <li>
            <h5>@m.Title</h5>
            @m.Desc
            <a href="/Movie/Details/@m.ID">Doties >></a>
            <div>
                <iframe width="250" height="150" src="//www.youtube.com/embed/@m.Url" frameborder="0" allowfullscreen></iframe>
            </div>
        </li>
        }
    </ol>
}
