@model Chem.Models.Movie

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>
<p>
    @Model.Desc
</p>
<p>
    Reakcija: @Model.Reaction.Desc
</p>
<p>
    Reaģentu saraksts: @foreach (var reagent in Model.Reaction.Reagents)
    {
        string s = reagent.Name + " ";
        @s
    }
</p>

<div class="display-field">
    <iframe width="560" height="315" src="//www.youtube.com/embed/@Model.Url" allowfullscreen></iframe>
</div>
